.metBody{
	position: fixed;
	bottom: 60px;
	right: -290px;
	width: 290px;
	height: 210px;
	padding: 10px;
	background-color: #004DFE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 4px 4px 4px 0 rgba(0, 0, 0, 0.5);
	color:#fff;
	font-style:normal;
	text-decoration: none;
	cursor: pointer
}
.metBody:hover{
	background-color: #3270ff;
}

.metBody .metTitle{

}
.metBody .metImage{
	position: absolute;
	width: 120px;
	height: 150px;
	margin-top: 10px;
	padding: 0px;
}
.metBody .metImage img{
	position: absolute;
	border-radius: 3px;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.6);
	max-width: 100%;
	max-height: 100%;
	margin: auto;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
}
.metBody .metSubject{
	font-size: 12px;
	padding-left: 130px;
	padding-top: 20px;
}
.metBody .metCancel{
	display: block;
	position: absolute;
	color:#fff;
	bottom: 10px;
	right: 20px;
	padding: 4px 20px;
}
.metBody .metCancel:hover{
	background-color: #7e97d0;
	color:#fff;
}
.metBody .metCancel:link, .metBody:visited{
	color:#fff;
}
