@charset"utf-8";

/*
===================================================
初期化 Style
===================================================
*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.def{
	width: 100%;
	margin-top: 25px;
	border-collapse: collapse;
	border: 1px #d4d4d4 solid;
	background-color: white;
}
table.def td{
	padding: 8px 20px 8px 10px;
	border: 1px #d4d4d4 solid;
	vertical-align: top;
	word-break: break-all;
}

table.def col.left{
	width: 190px;
}

input[type="text"], input[type="password"]{
	width: 100%;
	padding: 2px 5px;
 	border: 1px solid #b9b9b9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color: #555555;
}
textarea{
	width: 100%;
	padding: 2px 5px;
	border: 1px solid #b9b9b9;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	line-height: 20px;
	color: #555555;
}

select{
	width: 220px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	height: 24px;
	line-height: 24px;
	color: #555555;
	vertical-align: middle;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/*
===================================================
 サイト全体に適応
===================================================
*/
@-ms-viewport{ width: device-width; }
body {
	overflow: hidden;
	-ms-touch-action:none;
	-ms-content-zooming: none;
	touch-action: none;
	content-zooming: none;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
	font-size: 0.875em;
	color:#303030;
	line-height:1.6;
	background-color: #000000;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;
}
 /*
===================================================
 サイト全体で使用
===================================================
*/
 .clear {
    clear: both;
}
/*
===================================================
  リンク
===================================================
*/
 a {
    /*リンクされた文字*/
    color:#00849b;
    font-style:normal;
    text-decoration: none;
    cursor: pointer;
}
a:link {
    /*未訪問のリンク*/
    color:#00849b;
}
a:visited {
    /*訪問後のリンク*/
    color:#00849b;
}
a:hover {
    /*マウスをのせたとき*/
    color:#005267;
    font-style:normal;
    text-decoration:none;
}

/*
===================================================
                                   ポップアップ　検索
===================================================
*/
body#optionPopUp {
    background: #f9f9f9;
}
/*検索窓*/
#searchBox {
    width: 100%;
    padding-top: 2px;
    margin-bottom: 10px;
}

#searchBox .search {
    padding-left: 30px;
    background: url('../img/search.png') no-repeat 8px center;
    border-radius:15px;
    width: 300px;
    height: 30px;
    border:1px solid #d0d0d0 !important;
    background-color:#ffffff;
    color:#303030;
}


/*検索結果*/
 p.searchResult {
    font-size: small;
    margin-bottom: 10px;
}
.searchResultList {
    border: 1px solid #c6c6c6;
    padding: 8px 10px;
    display: block;
    color:#1b1b1b;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.searchResultList:hover {
    background: #c6c6c6 url(../img/searchResultList.png) repeat-x center top;
}
.page {
    font-weight: bold;
    float: left;
}

.indexItem{
    border-top: 1px solid #c6c6c6;
    display: block;
    padding: 8px;
    cursor: pointer;
}
.indexItem:hover{
    background-color: #c3c3c3;
    background: #c6c6c6;
}
.expandBtn{
    float: left;
    -webkit-transition: -webkit-transform 400ms linear 0s;
    -moz-transition: -moz-transform 400ms linear 0s;
    -ms-transition: -ms-transform 400ms linear 0s;
    -o-transition: -o-transform 400ms linear 0s;
    transition: transform 400ms linear 0s;
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
    transform: rotateZ(0);
}
.rotated{
    -webkit-transform: rotateZ(90deg);
    -moz-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    -o-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
}
.indexTitle{
    float: left;
    margin-left: 10px;
}
.indexPageNum{
    float: right;
    text-align: right;
    color: #008cbb;
    font-size: small;
}
.showDrawableBounds{
    border: solid 2px #ff0000;
}

/*
===================================================
                              ポップアップ　サムネイル
===================================================
*/
.thumbnails{
	height: auto;
    text-align: center;
    margin: 10px 0px;
    float: left;
    color: #1b1b1b;
    cursor: pointer;
    position: relative;
    display: block;
}


.leftThumbnail{
    padding: 0 2px 0 13px;
}

.rightThumbnail{
    padding: 0 13px 0 2px;
}


.thumbnails img{
    max-width: 140px;
    max-height: 140px;
    background: white;
    box-shadow: 0px 1px 3px #ababab;
}

.thumbnails p{
	margin-top: 5px;
    font-size: 12px;
    height: 15px;
    white-space: nowrap;
}

.ie8 .thumbnails p{
    display: block;
    margin: 0 auto;
    width: 100%;
}

.thumbnailPair{
	display: table-cell;
    float: left;
}

#thumbnail_list{
    overflow: hidden;
    display: table;
}

.hiddenPlaceholder{
    display: none;
}
